%li{ :data => { :role => "comment" } }
  %header
    = render 'avatar', user: comment.user
    %span.username
      = comment.user.username
      &ndash;
    %span.timestamp
      = time_ago_in_words(comment.created_at)
      ago
  %span.comment
    = html_escaped_markdown(comment.text)
