%h1= t(                                     |
       'solutions.statuses.reviewing',      |
       username: assigned_solution.username |
     )                                      |
%p When you're finished, click <i>#{t('solutions.show.continue')}</i>.
