%div
  .inner.has-icon
    .icon.clock
    .content
      %h1= t('solutions.statuses.awaiting_review')
      %p= t('solutions.statuses.we_will_email_you')

%div
  .inner
    = render 'statuses/next_exercise'
