%div
  .inner.has-icon
    .icon.comment
    .content
      = render "statuses/assigned_solution",
        assigned_solution: reviewing_other_solution.assigned_solution

%div
  .inner
    = render "statuses/link_to_submitted_solution",
      submitted_solution: reviewing_other_solution.submitted_solution
