aside.comments {
  float: right;
  font-size: $base-font-size-sm-3;
  padding-left: 2%;
  width: $timeline-width;

  @include media($collapse-comments) {
    float: left;
    padding-left: 0;
    width: 75%;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  > ol > li {
    padding: 1.5rem 0 1.5rem 0;
    position: relative;
    color: $medium-gray;

    &:before {
      @include pseudo-circle;
      left: .5rem;
    }

    &:after {
      @include pseudo-connecting-line;
    }

    &:first-child {
      padding-top: .5rem;

      &:after {
        top: 1rem;
      }
    }

    &:last-of-type:after {
      display: none;
    }

    &.status-red {
      color: $red;

      &:before {
        border-color: $red;
      }
    }

    &.status-blue {
      color: $highlight-blue;

      &:before {
        border-color: $highlight-blue;
      }
    }

    &.status-green {
      color: $green;

      &:before {
        border-color: $green;
      }
    }

    img {
      border-radius: 50%;
      @include position(absolute, 0 0 0 .5rem);
    }

    a {
      color: $medium-gray;
      border-bottom: 1px solid $light-gray;
    }

    span {
      display: block;
      margin-left: $avatar-size;
      padding-left: 1.25rem;

      &.line-num, &.timestamp {
        font-size: $base-font-size-sm-4;
        color: $medium-gray;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
      }

      ul, ol {
        margin-left: 1rem;
        list-style-type: disc;
        margin-bottom: .5rem;
      }

      ol {
        list-style-type: decimal;
      }
    }

    &.solution-comment {
      color: $base-font-color;
    }

    input[type="submit"][disabled] {
      background: $medium-gray;
    }
  }

  code {
    background: lighten($light-gray, 5%);
    border-radius: 3px;
    font-size: $base-font-size-sm-3;
    padding: 0 4px;
  }

  form {
    margin-left: 1.25rem;
    padding-left: $avatar-size;
  }

  textarea {
    font-size: $base-font-size-sm-3;
  }
}
