.line-comments{ :data => { "comments-for" => location } }
  %ol{ :data => { :role => "inline-comments" } }
    = render comments
    = render 'comments/inline_form',
      revision: revision,
      comment: Comment.new
    %li.show-form{ :data => { :role => "form-toggle" } }
      %button= t('comments.form.new')
